<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My_project.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <My_project.Settings1>
            <setting name="database_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="database_user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="database_pass" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="database_name_hanhai_manufacture" serializeAs="String">
                <value>hanhai_manufacture</value>
            </setting>
            <setting name="database_name_hanhai_management" serializeAs="String">
                <value>hanhai_management</value>
            </setting>
            <setting name="database_name_hanhai_produce" serializeAs="String">
                <value>hanhai_produce</value>
            </setting>
            <setting name="未打包状态" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="打包完成状态" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="database_name" serializeAs="String">
                <value />
            </setting>
            <setting name="database_ip_local" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="database_user_local" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="database_pass_local" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="database_ip_hanhai" serializeAs="String">
                <value>192.168.31.250</value>
            </setting>
            <setting name="database_user_hanhai" serializeAs="String">
                <value>chk</value>
            </setting>
            <setting name="database_pass_hanhai" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="check_state" serializeAs="String">
                <value>local</value>
            </setting>
            <setting name="Check_days" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="postion" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="su_postion" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="组件打包完成状态" serializeAs="String">
                <value>119</value>
            </setting>
        </My_project.Settings1>
    </userSettings>
</configuration>